

    <section class="register-form-container">

        <form action="/register", method="post">
            <h3>Register</h3>
            <label>Email</label>
            <input type="email" name="email" class="box" id="email" value="{{data.email}}">
            <label>Username</label>
            <input type="text" name="username" class="box" id="username" value="{{data.username}}">
            <label>Password</label>
            <input type="password" name="password" class="box" id="password">
            <label>Confirm Password</label>
            <input type="password" name="repass" class="box" id="repass">
            <input type="submit" value="Register" class="btn">
            <p>Have an account ? <a href="#">Click here</a></p>
        </form>
    </section>
