<section id="catalog-section" class="spaced">

    <h1 class="item">Auctions</h1>
    {{#if auctions}}
    <!-- List of available auctions -->
    <ul class="catalog cards">

        {{#each auctions}}
        {{>auctionPartial}}
        {{/each}}

    </ul>

    <!-- If there are no auctions to display -->
    {{else}}
    <div class="item pad-large align-center">
        <p>Nothing has been listed yet. Be the first!</p>
        <div>
            <a class="action" href="/create">Publish Auction</a>
        </div>
    </div>
    {{/if}}
</section>